<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Creating Real-Time Charts with Flask</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="my-5 form-inline">
        <select name="" id="deviceList" class="form-control w-50">
            <option>Select stream...</option>
        </select>
        <button class="btn btn-outline-primary ml-2" id="addChart">Add</button>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body" id="chartWrapper">
                    <canvas id="canvas"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<!--suppress JSUnresolvedLibraryURL -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<!--suppress JSUnresolvedLibraryURL -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!--suppress JSUnresolvedLibraryURL -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script>
    const DOMElements = {
        deviceSelectList: 'deviceList',
        chartWrapper: 'chartWrapper',
        btnAddChart: 'addChart'
    };
    $(document).ready(function () {

        const config = {
            type: 'line',
            data: {
                labels: [],
                datasets: [{
                    label: "Sound DB",
                    backgroundColor: 'rgb(0,255,11)',
                    borderColor: 'rgb(0,255,11)',
                    data: [],
                    fill: false,
                }],
            },
            options: {
                tooltips: {
                    enabled: false,
                    animationEnabled: false
                },
                responsive: true,
                title: {
                    display: true,
                    text: 'Real time noise chart'
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Time'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Value'
                        },
                        ticks: {
                            beginAtZero: true,
                            max: 100
                        }
                    }]
                }
            }
        };
        //Used to retrieve list of streams
        const btnEl = document.getElementById(DOMElements.btnAddChart);
        let i = 0;
        btnEl.addEventListener('click', function () {
            const deviceList = document.getElementById(DOMElements.deviceSelectList);
            const selectedStreamId = parseInt(deviceList.options[deviceList.selectedIndex].value);
            if (typeof selectedStreamId == 'number') {
                console.log(selectedStreamId);
                createChart(i);
                const context = document.getElementById(`canvas_${i}`).getContext('2d');
                i++;
                const lineChart = new Chart(context, config);

                const source = new EventSource(`/chart-data/${selectedStreamId}`);
                source.onerror = function(event){
                    console.log(event);
                }
                source.onmessage = function (event) {
                    const threshold = 50;
                    console.log('on message');
                    const data = JSON.parse(event.data);
                    if (data.value >= threshold) {
                        config.data.datasets[0].backgroundColor = '#A70200';
                        config.data.datasets[0].borderColor = '#A70200';
                    } else {
                        config.data.datasets[0].backgroundColor = '#00FF0B';
                        config.data.datasets[0].borderColor = '#00FF0B';
                    }

                    if (config.data.labels.length === 50) {
                        config.data.labels.shift();
                        config.data.datasets[0].data.shift();
                    }
                    config.data.labels.push(data.time);
                    config.data.datasets[0].data.push(data.value);
                    lineChart.update();
                }
            }
        });

        $.getJSON("http://127.0.0.1:5000/streams", function (data) {
            console.log(data);
            $.each(data, function (index, item) {
                $('#deviceList').append(
                    $('<option></option>').val(index).html(item)
                );
            });
        });


    });

    function createChart(stream_id) {
        let chartWrapper = document.getElementById(DOMElements.chartWrapper);
        chartWrapper.insertAdjacentHTML("beforeend", getCanvas(stream_id));
    }

    function getCanvas(stream_id) {
        return `<canvas id="canvas_${stream_id}"></canvas>`;
    }

</script>
</body>
</html>