<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Creating Real-Time Charts with Flask</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="my-5 form-inline">
        <select name="" id="deviceList" class="form-control w-50">
            <option>Select stream...</option>
        </select>
        <button class="btn btn-outline-primary ml-2" id="addChart">Add</button>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body" id="chartWrapper">
                    <canvas id="canvas"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<!--suppress JSUnresolvedLibraryURL -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<!--suppress JSUnresolvedLibraryURL -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!--suppress JSUnresolvedLibraryURL -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script>
    let i = 0;
    const threshold = 50;

    const DOMElements = {
        deviceSelectList: 'deviceList',
        chartWrapper: 'chartWrapper',
        btnAddChart: 'addChart'
    };

    const urls = {
        audio_devices: "http://127.0.0.1:5000/audio_devices"
    };

    $(document).ready(function () {
        updateOptions();
        const btn = document.getElementById(DOMElements.btnAddChart);

        btn.addEventListener('click', function () {
                const config = createBaseConfig();
                const deviceList = document.getElementById(DOMElements.deviceSelectList);
                const selectedStreamId = parseInt(deviceList.options[deviceList.selectedIndex].value);
                const selectedStreamName = deviceList.options[deviceList.selectedIndex].text;

                createStream(selectedStreamId, selectedStreamName);
                config.data.datasets[0].label = selectedStreamName;

                if (typeof selectedStreamId == 'number') {
                    createChart(i);
                    const context = document.getElementById(`canvas_${i}`).getContext('2d');
                    const lineChart = new Chart(context, config);
                    const source = new EventSource(`/chart-data/${selectedStreamId}`);

                    source.addEventListener('message', function (event) {
                        console.log(`Updating stream: ${selectedStreamName}`);
                        updateChart(event, config, lineChart);
                    });

                    source.addEventListener('error', function (event) {
                        console.log(`Updating stream: ${selectedStreamName} failed!!!!!!`);
                        console.log(event);
                    });
                    i++;
                }
            }
        );

    });

    function createChart(stream_id) {
        let chartWrapper = document.getElementById(DOMElements.chartWrapper);
        chartWrapper.insertAdjacentHTML("beforeend", getCanvas(stream_id));
    }

    function getCanvas(stream_id) {
        return `<canvas id="canvas_${stream_id}"></canvas>`;
    }

    function createStream(deviceIndex, deviceName) {
        $.ajax({
            url: '/create_stream',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({
                device_index: deviceIndex,
                device_name: deviceName
            }),
            dataType: 'json',
            success: function (e) {
                console.log(`Stream has been created for device: ${deviceName}`);
            },
            error: function (err) {
                console.log(`Stream error for device: ${deviceName} !!!!!`);
                console.log(`Stream was not created msg: ${err.message}`);
            }
        });
    }

    function updateOptions() {
        $.getJSON(urls.audio_devices, function (data) {
            console.log(data);
            $.each(data, function (index, item) {
                $('#deviceList').append(
                    $('<option></option>').val(item.index).html(item.name)
                );
            });
        });
    }

    function createBaseConfig() {
        const config = {
            type: 'line',
            data: {
                labels: [],
                datasets: [{
                    label: "Sound DB",
                    backgroundColor: 'rgb(0,255,11)',
                    borderColor: 'rgb(0,255,11)',
                    data: [],
                    fill: false,
                }],
            },
            options: {
                tooltips: {
                    enabled: false,
                    animationEnabled: false
                },
                responsive: true,
                title: {
                    display: true,
                    text: 'Real time noise chart'
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Time'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Value'
                        },
                        ticks: {
                            beginAtZero: true,
                            max: 100
                        }
                    }]
                }
            }
        };

        return config;
    }

    function updateChart(event, config, lineChart) {
        const data = JSON.parse(event.data);
        if (data.value >= threshold) {
            config.data.datasets[0].backgroundColor = '#A70200';
            config.data.datasets[0].borderColor = '#A70200';
        } else {
            config.data.datasets[0].backgroundColor = '#00FF0B';
            config.data.datasets[0].borderColor = '#00FF0B';
        }

        if (config.data.labels.length === 50) {
            config.data.labels.shift();
            config.data.datasets[0].data.shift();
        }
        config.data.labels.push(data.time);
        config.data.datasets[0].data.push(data.value);
        lineChart.update();
    }

</script>
</body>
</html>